@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond&family=Crimson+Text&family=Englebert&family=Karma&family=Lobster&family=Lugrasimo&family=Mate&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Patrick+Hand+SC&family=Sofia&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

body {
    background-color: #f8e7d1;
}

#navbar {
    font-family: "Patrick Hand", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    background-color: #EDBEA6;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #ac6846;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #F84941;
    padding: 43px 32px;
}

#navbar #logo {
    margin-right: auto;
    padding-top: 13px;
    padding-bottom: 12px;
}

#navbar #logo img {
    width: 78px;
}

#navbar a:hover {
    background-color: #f8e7d1;
    margin: 0px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #f8e7d1;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: #f8d6c5;
}

#hero {
    background-image: url("../images/center_hero.png");
    height: 40vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #ac6846;
}

#hero .hero-content {
    text-align: center;
    color: white;
    font-family: "Patrick Hand", serif;
    font-weight: bold;
    font-style: normal;
}

#hero a {
    display: inline-block;
    background-color: #F84941;
    color: #f8e7d1;
    text-decoration: none;
    padding: 22px;
    margin: 5vh 2vw 10vh;
    border-radius: 18px;
}

#hero a:hover {
    background-color: #ac352e;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#main-section {
    background-color: #EDBEA6;
    padding: 48px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-top: 5px solid #ac6846;
    border-bottom: 5px solid #ac6846;
}

.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}

.side-by-side .image-container {
    flex: 1;
}

.side-by-side .text-container {
    flex: 1;
    padding: 36px;
    font-family: "Patrick Hand", serif;
    font-weight: 400;
    font-style: normal;
}

.side-by-side .image-container img {
    width: 100%;
    border-radius: 18px;
}

.side-by-side .text-container h2 {
    font-size: 28px;
}

.side-by-side .text-container p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.side-by-side .text-container a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #F84941;
    color: #f8e7d1;
    padding: 18px 16px;
    border-radius: 18px;
}

.side-by-side .text-container a:hover {
    background-color: #ac352e;
}

.center-column {
    background-color: #EDBEA6;
    width: 500px;
    margin: 0px auto;
    padding: 0px 32px;
    border-radius: 14px;
}

.center-column h1 {
    font-family: "Patrick Hand", serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.center-column img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 18px;
}

.center-column p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    margin-bottom: 18px;
    padding-bottom: 18px;
}

#layout {
    max-width: 650px;
    margin: 48px auto;
    text-align: center;
}

#layout h1 {
    font-family: "Patrick Hand", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 38px;
}

#layout h3 {
    font-family: "Patrick Hand", serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 24px;
}

#layout p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.gallery {
    columns: 3 auto;
    column-gap: 24px;
}

.gallery img {
    width: 100%;
    margin-bottom: 24px;
}

.web-dev-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 24px;
}

.web-dev-gallery .button {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 24px;
}

.web-dev-gallery a {
    font-family: "Patrick Hand", serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    color: #f8e7d1;
    background-color: #F84941;
    padding: 18px;
    border-radius: 10px;
}

.web-dev-gallery a:hover {
    background-color: #ac352e;
}

.web-dev-gallery img {
    width: 100%;
}

#card-section {
    background-color: #EDBEA6;
    color: white;
    padding: 24px;
    border-top: 5px solid #ac6846;
    border-bottom: 5px solid #ac6846;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 1;
    border: 5px solid #ac6846;
    padding: 32px;
    text-align: center;
    margin: 24px;
}

.card h3 {
    font-family: "Patrick Hand", serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 24px;
    margin: 0px;
}

.card p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-size: 16px;
    margin: 24px 0px 0px;
}

.card img {
    width: 100%;
    padding: 18px;
    border-radius: 32px;
}

form {
    background-color: #EDBEA6;
    padding: 36px;
    border: 2px solid #ac6846;
    border-radius: 10px;
}

form div label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select,
textarea {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ac6846;
    margin-bottom: 16px;
}

textarea {
    font-family: sans-serif;
}

input[type=submit] {
    width: auto;
    background-color: #F84941;
    color: white;
    border: 0;
    border-radius: 10px;
    min-width: 75px;
}

input:not(:focus):not(:placeholder-shown):invalid {
    background-color: lightcoral;
    border: 2px solid red;
}

footer #social-media .button {
    font-family: "Patrick Hand", serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    color: #f8e7d1;
    background-color: #F84941;
    padding: 18px;
    margin: 18px;
    border-radius: 10px;
}

footer #social-media .button a {
    text-decoration: none;
    color: #f8e7d1;
}

#footer #social-media .button a:hover {
    background-color: #ac352e;
}

.spacer {
    height: 1vh;
}

#footer {
    background-color: #EDBEA6;
    padding: 12px;
    border-top: 5px solid #ac6846;
    border-bottom: 5px solid #ac6846;
}

#footer a {
    text-decoration: none;
    color: #F84941;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

/* Tablet Breakpoint */
@media screen and (max-width: 768px) and (min-width: 481px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar #logo {
        margin-right: 0px;
    }

    #navbar a {
        width: 100%;
        text-align: center;
    }

    #navbar .dropdown-menu a:hover {
        width: 100%;
        text-align: center;
    }

    #hero {
        flex-direction: column;
    }

    #hero .hero-content {
        position: relative;
    }

    #hero .hero-content h2 {
        font-size: 34px;
    }

    #hero .hero-content h4 {
        font-size: 20px;
    }
}